*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
border: 3px solid black;
height: 400px;
background-color: rgb(32, 105, 50);
}
.topmode{
    border: 2px solid blue;
}
.mainInput{
    height: 55px;
    font-size: 40px;
    outline-width: 0;
    transition: .3s linear;
}
.mainInput:hover{
    background-color: black;
    color: yellow;
}