*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(29, 131, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc{
border-radius: 10px;
overflow: hidden;
border: 3px solid black;
height: 500px;
background-image: linear-gradient(180deg,rgba(65,64,76,1)0%,rgba(21,24,32,1)100%);
}
.topmode{
    border-bottom: 3px solid black;
}
.mainInput{
    height: 55px;
    font-size: 40px;
    outline-width: 0;
    transition: .3s linear;
}
.mainInput:hover{
    background-color: black;
    color: yellow;
}
.downmode{
    height: 87%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    height: 80px;
    margin-top: 4px;
    width: 80px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    outline-width: 0;
}
button:active{
    background-color: rgb(208, 255, 0);
    border: 2px solid red;
}
.result{
    width: 165px;
    background-color: lightblue;
    border: 2px solid rgb(0, 38, 255);
}
.clear{
    width: 165px;
    background-color: lightblue;
    border: 2px solid rgb(0, 38, 255);
}